<div class="border p-1">
    <div class="col-4">
        <label for="ArmatureDiameter">Укажите диаметр арматуры:</label>
    </div>
    <div class="col-4">
        <select name="ArmatureDiameter" size="1" class="form-control-sm">
            @foreach (int value in NameColumns.ArmatureDiameter)
            {
                <option value=@value>@value</option>
            }
    </select>
    </div>
</div>
