<div class="border p-1">
    <div class="col-4">
        <label for="ConcreteClass">Выберите класс бетона:</label>
    </div>
    <div class="col-4">
        <select name="ConcreteClass" size="1" class="form-control-sm">
            @foreach (string value in NameColumns.ConcreteClass)
            {
                <option value="@value">@value</option>
            }
    </select>
    </div>
</div>

